div{
    font-size: 20px;
    text-align: justify;
    border: 0px solid red;
    margin: 15px;
    line-height: 28px;
}

ion-col{
    text-align: center;
    background-color: rgb(0, 89, 255);
}

ion-card-title{
    text-align: center;
}

ion-card-content{
    text-align: justify;
}