div{
    font-size: 20px;
    text-align: center;
    margin: 15px;
    line-height: 28px;
}

img{
    margin-top: 10px;
    border: 7px solid black;
    width: 50%;
    border-radius: 50%;
    
}

ion-col{
    text-align: center;
    background-color: rgb(0, 89, 255);
}

ion-card-title{
    text-align: center;
    font-size: 30px;
}

ion-card-content{
    text-align: justify;
}