<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start"> 
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
      <ion-title>Lamborghini</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="warning">
  <ion-card>
    <img src="../../assets/Urus.jpg" />
    <ion-card-header>
      <ion-card-title>Lamborghini Urus</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      O Lamborghini Urus tem um motor 4.0 V8 Biturbo de 650 cv de potência máxima. A transmissão as ou 70%é automática de 8 marchas e a tração integral sob demanda, podendo transferir até 87% da força para as rodas traseir para as rodas da frente. A aceleração de 0 a 100 km/h acontece em 3,6 segundos e a velocidade máxima é de 305 km/h.
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-row>
    <ion-col (click)="Voltar()"><ion-icon name="arrow-back-outline" size="large"></ion-icon></ion-col>
    <ion-col (click)="Home()"><ion-icon name="home-outline" size="large"></ion-icon></ion-col>
    <ion-col (click)="Proxima()"><ion-icon name="arrow-forward-outline" size="large"></ion-icon></ion-col>
  </ion-row>
</ion-footer>
